.announcement-bar-section {
    margin: 0 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.announcement-bar-section .utility-bar {
    border-radius: 8px;
    max-width: 1400px;
    margin: auto;
}

.announcement-bar-section .page-width.utility-bar__grid {
    max-width: 1400px;
}

.header--middle-left .list-menu__item:has(.header__active-menu-item) {
    padding: 0;
}

.header--middle-left .list-menu__item .header__active-menu-item {
    background: #ECE874;
    border-radius: 31px;
    padding: 11px 16px;
}

.header.header--middle-left .list-menu--inline {
    align-items: center;
    padding: 4px 11px 4px 4px;
}

.header__menu-item span {
    font-family: 'Switzer-Regular';
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.header__button .button {
    padding: 13px 18px 13px 20px;
    font-weight: 400;
    line-height: initial;
    letter-spacing: 0%;
    text-transform: uppercase;
    gap: 12px;
    margin: 0;
    font-family: 'HelveticaNeueRegular';
    min-width: 196px;
}

.header__button .button:hover {
    background: transparent;
    color: rgba(var(--color-button), var(--alpha-button-background));
    transition: 0.3s ease-in;
}

.header__button .button:hover .icon path {
    fill: rgba(var(--color-button), var(--alpha-button-background));
    transition: 0.3s ease-in;
}

/* .section-header.scrolled-past-header {
    max-width: 1400px;
    margin: auto;
} */

.section-header.scrolled-past-header .header-wrapper .header {
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 36px 23px #1212121a;
}

/* .section.shopify-section {
    box-shadow: 4px 14px 15px 0px #00000012;
} */

.collection__view-all {
    padding-right: 28px;
}

.feature-collection-internal-padding {
    padding-left: 20px;
}

.collection__view-all .button::after {
    border: 1px solid #E2E2E2;
    box-shadow: none;
}

.collection__view-all .button {
    line-height: 22px;
    letter-spacing: 0;
    padding: 15px 24px;
    text-transform: uppercase;
    gap: 12px;
}

.collection  .collection__title .title:not(:only-child) {
    line-height: 120%;
    letter-spacing: -1%;
}

/* Custom section button  */
.custom-section__button {
    line-height: 22px;
    letter-spacing: 0;
    font-family: 'Switzer-Regular';
    gap: 12px;
    min-height: 52px;
    color: rgb(var(--color-foreground));
}

.custom-section__button:hover {
    background: rgb(var(--color-foreground));
    color: white;
    transition: 0.3s ease-in-out;
}

.custom-section__button:hover svg path {
    fill: white;
}

.custom-section__button::after {
    border: 1px solid #E2E2E2;
    box-shadow: none;
    padding: 0 3rem;
}

.custom-section__button:hover::after {
    border: none;
}

.blog .title,
.blog .title-wrapper-with-link {
    margin: 0;
}

.blog .blog-header-text__text.h5 {
    font-family: 'HelveticaNeueRegular';
    line-height: 24px;
    letter-spacing: 0%;
    color: black;
    opacity: 70%;
}

.article-card-wrapper .card__information {
    padding-bottom: 0;
    padding-top: 1.6rem;
}
