.announcement-bar-section {
    margin: 0 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.announcement-bar-section .utility-bar {
    border-radius: 8px;
    max-width: 1400px;
    margin: auto;
}

.announcement-bar-section .page-width.utility-bar__grid {
    max-width: 1400px;
}

.header--middle-left .list-menu__item:has(.header__active-menu-item) {
    padding: 0;
}

.header--middle-left .list-menu__item .header__active-menu-item {
    background: #ECE874;
    border-radius: 31px;
    padding: 11px 16px;
}

.header.header--middle-left .list-menu--inline {
    align-items: center;
    padding: 4px 11px 4px 4px;
}

.header__menu-item span {
    font-family: 'Switzer-Regular';
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.header__button .button {
    padding: 13px 18px 13px 20px;
    font-weight: 400;
    line-height: initial;
    letter-spacing: 0%;
    text-transform: uppercase;
    gap: 12px;
    margin: 0;
    font-family: 'HelveticaNeueRegular';
    min-width: 196px;
}

.header__button .button:hover {
    background: transparent;
    color: rgba(var(--color-button), var(--alpha-button-background));
    transition: 0.3s ease-in;
}

.header__button .button:hover .icon path {
    fill: rgba(var(--color-button), var(--alpha-button-background));
    transition: 0.3s ease-in;
}

/* .section-header.scrolled-past-header {
    max-width: 1400px;
    margin: auto;
} */

.section-header.scrolled-past-header .header-wrapper .header {
    margin-top: 20px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0px 39px 25px 0px #0000001A;
    border: 2px solid rgba(26, 111, 80, 0.25);
}

/* .section.shopify-section {
    box-shadow: 4px 14px 15px 0px #00000012;
} */

.collection__view-all {
    padding-right: 28px;
}

.feature-collection-internal-padding {
    padding-left: 20px;
}

.collection__view-all .button::after {
    border: 1px solid #E2E2E2;
    box-shadow: none;
}

.collection__view-all .button {
    line-height: 22px;
    letter-spacing: 0;
    padding: 15px 24px;
    text-transform: uppercase;
    gap: 12px;
}

.collection  .collection__title .title:not(:only-child) {
    line-height: 120%;
    letter-spacing: -1%;
}

/* Custom section button  */
.custom-section__button {
    line-height: 22px;
    letter-spacing: 0;
    font-family: 'Switzer-Regular';
    gap: 12px;
    min-height: 52px;
    color: rgb(var(--color-foreground));
}

.custom-section__button:hover {
    background: rgb(var(--color-foreground));
    color: white;
    transition: 0.3s ease-in-out;
}

.custom-section__button:hover svg path {
    fill: white;
}

.custom-section__button::after {
    border: 1px solid #E2E2E2;
    box-shadow: none;
    padding: 0 3rem;
}

.custom-section__button:hover::after {
    border: none;
}

.blog .title,
.blog .title-wrapper-with-link {
    margin: 0;
}

.blog .blog-header-text__text.h5 {
    font-family: 'HelveticaNeueRegular';
    line-height: 24px;
    letter-spacing: 0%;
    color: black;
    opacity: 70%;
}

.article-card-wrapper .card__information {
    padding-bottom: 0;
    padding-top: 1.6rem;
}

.header__submenu.list-menu {
    padding: 0;
    border-radius: 20px;
    background: white;
    min-width: 255px;
    box-shadow: 0px 4px 14px 0px #00000026;
}

.header__submenu .header__menu-item {
    justify-content: space-between;
    padding: 14px 16px;
    border-bottom: 1px solid #EEEEEE;
}

.menu-drawer__footer-button .button {
    width: 100%;
    padding: 13px 20px;
    justify-content: space-between;
    font-family: 'HelveticaNeueRegular';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.menu-drawer__footer-button svg path {
    fill: white;
}

@media screen and (min-width: 990px) {
    .success-stories__slider .slider--desktop:after {
        padding-left: 0;
    }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
    .slider--tablet.grid--peek .grid__item:first-of-type {
        margin-left: 0;
    }
}

/* responsive media queries  */
@media screen and (min-width: 750px) and (max-width: 1140px) {
    slideshow-component .banner__heading.inline-richtext.h0 {
        font-size: 40px;
    }

    slideshow-component .banner__content.banner__content--middle-left {
        align-items: start;
    }

    slideshow-component .banner--desktop-transparent .banner__box {
        padding: 0;
    }

    .certifications__heading h2,
    .why-choose-capsules__heading {
        font-size: calc(var(--font-heading-scale) * 3.2rem); 
    }

    .certifications__text p {
        font-size: calc(var(--font-heading-scale) * 1.4rem);
    }

    .why-choose-capsules__column--right {
        flex: 1 0 auto;
    }

    .why-choose-capsules .why-choose-capsules__column--center {
        flex: 1 0 auto;
    }

    .why-choose-capsules .why-choose-capsules__column--right {
        flex: 1 0 auto;
    }

    .why-choose-capsules .why-choose-capsules__card--core, 
    .why-choose-capsules .why-choose-capsules__card--stats {
        flex: 0;
    }
}

@media (max-width: 1140px) {
    slideshow-component .slideshow .banner__buttons .button {
        min-height: 44px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .button {
        padding: 0 24px;
        min-height: 52px;
    }

    .why-choose-capsules .why-choose-capsules__capsule-top-text p,
    .why-choose-capsules .why-choose-capsules__capsule-bottom-text p {
        font-size: 12px;
        line-height: 16px;
    }

    .applications-showcase .applications-showcase__summary-title {
        font-size: 20px; 
    }

    .applications-showcase .applications-showcase__summary {
        padding: 8px 0;
    }

    .applications-showcase .applications-showcase__overlay-title,
    .applications-showcase .applications-showcase__number-text {
        font-size: 16px;
    }

    h2.contact-experts__heading.h2 {
        font-size: 32px;
    }
}

/* mobile view */
@media (max-width: 749px) {
    .blog .blog-header-text__text.h5 {
        line-height: 20px;
        padding-bottom: 16px;
    }

    .announcement-bar-section {
        margin: 16px 16px 0;
    }

    .header__icons,
    .blog-header__button {
        display: none;
    }

    .shopify-section-group-header-group .header {
        grid-template-areas: ' heading icons';
        grid-template-columns: 1fr 1fr;
        padding: 16px 0 16px 0;
    }

    .header header-drawer {
        justify-self: end;
    }

    .header__heading, .header__heading-link {
        justify-self: start;
    }

    .announcement-bar__message {
        font-size: 11px;
    }
    
    .slideshow.banner .banner__box {
        padding: 28px 24px;
    }
    
    slideshow-component .slideshow .banner__buttons .button.slideshow-button-with-icon {
        min-height: 29px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .slideshow__text .banner__heading {
        line-height: 48%;;
    }

    .shopify-section slideshow-component .slider-buttons {
        bottom: 5px;
        left: 50%;
        transform: translate(-50%);
    }

    slideshow-component .slider-button {
        display: none;
    }

    .why-choose-capsules__header {
        padding-bottom: 24px;
    }
}