.why-choose-capsules__content {
  padding-top: var(--content-padding-top);
  padding-right: var(--content-padding-right);
  padding-bottom: var(--content-padding-bottom);
  padding-left: var(--content-padding-left);
  background: var(--section-background);
}

.why-choose-capsules__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding-bottom: 32px;
}

.why-choose-capsules__heading {
  margin: 0;
  line-height: 120%;
  letter-spacing: -0.01em;
}

.why-choose-capsules__button {
  flex-shrink: 0;
}

.why-choose-capsules__grid {
  display: flex;
  gap: var(--column-gap);
}

.why-choose-capsules__column {
  display: flex;
  flex-direction: column;
  gap: var(--column-gap);
}

.why-choose-capsules__column--left {
  flex: 0 0 333px;
  gap: 16px;
}

.why-choose-capsules__number {
    line-height: 26px;
    letter-spacing: 0;
}

.why-choose-capsules__number-text p {
    margin: 0;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0;
    padding-top: 10px;
    font-family: 'HelveticaNeueRegular';
}

.why-choose-capsules__column--center {
  flex: 1;
}

.why-choose-capsules__column--right {
  flex: 0 0 333px;
}

.why-choose-capsules__card {
  background: var(--card-background);
  border-radius: 16px;
  overflow: hidden;
  box-sizing: border-box;
}

.why-choose-capsules__card--core,
.why-choose-capsules__card--stats {
  min-height: 315px;
  flex: 1;
}

.why-choose-capsules__card--capsule {
  min-height: 646px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.why-choose-capsules__card--image {
  height: 646px;
  flex: 1;
}

.why-choose-capsules__core-heading {
  margin: 0;
  padding-bottom: 56px;
  font-size: 18px;
  line-height: 20px;
}

.why-choose-capsules__feature-list {
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.why-choose-capsules__feature {
  display: flex;
  align-items: start;
  gap: 12px;
  flex-direction: column;
  margin-top: 33px;
}

.why-choose-capsules__feature-icon {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}

.why-choose-capsules__feature-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.why-choose-capsules__feature-text {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  max-width: 188px;
}

.why-choose-capsules__feature-text p {
    margin: 0;
    font-family: 'HelveticaNeueRegular';
}

.why-choose-capsules__stats-number {
  margin: 0 0 16px;
  line-height: 26px;
}

.why-choose-capsules__stats-description {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 26px;
}

.why-choose-capsules__stats-description p {
  margin: 0;
}

.why-choose-capsules__badge {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 77px;
}

.why-choose-capsules__badge-image {
  width: 165px;
  margin-bottom: 12px;
  height: 56px;
}

.why-choose-capsules__badge-image img {
  display: block;
  width: 100%;
  height: auto;
}

.why-choose-capsules__badge-text {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0;
}

.why-choose-capsules__badge-text p {
    margin: 0;
    font-family: 'HelveticaNeueRegular';
    max-width: 188px;
}

/* .why-choose-capsules__capsule-top-text p {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  max-width: 384px;
  letter-spacing: 0;
} */

.why-choose-capsules__capsule-top-text p,
.why-choose-capsules__capsule-bottom-text p {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  max-width: 384px;
  letter-spacing: 0;
  font-family: 'HelveticaNeueRegular';
}

.why-choose-capsules__capsule-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}

.why-choose-capsules__arrow-image {
  max-width: 100%;
  height: auto;
  position: absolute;
}

.why-choose-capsules__arrow-image.why-choose-capsules__arrow-image--first {
  left: 15px;
  max-width: 224px;
}

img.why-choose-capsules__arrow-image.why-choose-capsules__arrow-image--second {
    max-width: 176px;
    right: 58px;
    bottom: 0;
}

.why-choose-capsules__main-image {
  display: block;
  width: 100%;
  max-width: 318px;
  height: auto;
}

.why-choose-capsules__capsule-bottom-text {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content: end;
}

.why-choose-capsules__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.why-choose-capsules__card-heading {
    font-size: 18px;
    margin: 0;
    line-height: 20px;
    letter-spacing: 0;
    margin-bottom: 56px;
}

@media screen and (max-width: 1199px) {
  .why-choose-capsules__grid {
    flex-wrap: wrap;
  }

  .why-choose-capsules__card--capsule,
  .why-choose-capsules__card--image {
    height: auto;
    min-height: auto;
  }
}

@media screen and (max-width: 749px) {
  .why-choose-capsules__content {
    padding: 20px;
  }

  .why-choose-capsules__header {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .why-choose-capsules__grid {
    flex-direction: column;
  }

  .why-choose-capsules__column,
  .why-choose-capsules__column--left,
  .why-choose-capsules__column--center,
  .why-choose-capsules__column--right {
    flex: 0 0 100%;
  }

  .why-choose-capsules__card--core,
  .why-choose-capsules__card--stats,
  .why-choose-capsules__card--capsule,
  .why-choose-capsules__card--image {
    min-height: auto;
    height: auto;
    max-height: 318px;
  }

  .why-choose-capsules__main-image {
    max-width: 100%;
  }

  .why-choose-capsules__arrow-image.why-choose-capsules__arrow-image--first {
    max-width: 117px;
  }

  .why-choose-capsules__main-image {
        max-width: 176px;
  }

  img.why-choose-capsules__arrow-image.why-choose-capsules__arrow-image--second {
    max-width: 104px;
  }

  .why-choose-capsules .why-choose-capsules__capsule-top-text p,
  .why-choose-capsules .why-choose-capsules__capsule-bottom-text p {
    max-width: 195px;
  }
}